<footer class="footer">
  <div class="container">
    <div class="footer-nav">
      <div class="product-item">
        <div class="product-blocks">
          <div class="product-list">
            <div class="product-title">
              <a class="title-link" href="#">Продукция</a>
              <span class="list-icon">
                <svg
                  class="list-arrow"
                  width="12"
                  height="6"
                  viewBox="0 0 10 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1.09039 1.08392C1.11896 1.05732 1.15291 1.03621 1.19029 1.02181C1.22767 1.00741 1.26774 1 1.30821 1C1.34867 1 1.38874 1.00741 1.42612 1.02181C1.4635 1.03621 1.49745 1.05732 1.52603 1.08392L5.00008 4.30995L8.47413 1.08392C8.50274 1.05736 8.5367 1.03629 8.57407 1.02192C8.61145 1.00755 8.6515 1.00015 8.69196 1.00015C8.73241 1.00015 8.77247 1.00755 8.80984 1.02192C8.84721 1.03629 8.88117 1.05736 8.90978 1.08392C8.93838 1.11048 8.96107 1.142 8.97655 1.1767C8.99203 1.2114 9 1.24859 9 1.28615C9 1.32371 8.99203 1.3609 8.97655 1.3956C8.96107 1.4303 8.93838 1.46183 8.90978 1.48839L5.2179 4.91608C5.18932 4.94268 5.15537 4.96379 5.118 4.97819C5.08062 4.99259 5.04055 5 5.00008 5C4.95961 5 4.91954 4.99259 4.88217 4.97819C4.84479 4.96379 4.81084 4.94268 4.78226 4.91608L1.09039 1.48839C1.06173 1.46185 1.039 1.43033 1.02349 1.39563C1.00798 1.36093 1 1.32372 1 1.28615C1 1.24858 1.00798 1.21138 1.02349 1.17667C1.039 1.14197 1.06173 1.11045 1.09039 1.08392Z"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1.09039 1.08392C1.11896 1.05732 1.15291 1.03621 1.19029 1.02181C1.22767 1.00741 1.26774 1 1.30821 1C1.34867 1 1.38874 1.00741 1.42612 1.02181C1.4635 1.03621 1.49745 1.05732 1.52603 1.08392L5.00008 4.30995L8.47413 1.08392C8.50274 1.05736 8.5367 1.03629 8.57407 1.02192C8.61145 1.00755 8.6515 1.00015 8.69196 1.00015C8.73241 1.00015 8.77247 1.00755 8.80984 1.02192C8.84721 1.03629 8.88117 1.05736 8.90978 1.08392C8.93838 1.11048 8.96107 1.142 8.97655 1.1767C8.99203 1.2114 9 1.24859 9 1.28615C9 1.32371 8.99203 1.3609 8.97655 1.3956C8.96107 1.4303 8.93838 1.46183 8.90978 1.48839L5.2179 4.91608C5.18932 4.94268 5.15537 4.96379 5.118 4.97819C5.08062 4.99259 5.04055 5 5.00008 5C4.95961 5 4.91954 4.99259 4.88217 4.97819C4.84479 4.96379 4.81084 4.94268 4.78226 4.91608L1.09039 1.48839C1.06173 1.46185 1.039 1.43033 1.02349 1.39563C1.00798 1.36093 1 1.32372 1 1.28615C1 1.24858 1.00798 1.21138 1.02349 1.17667C1.039 1.14197 1.06173 1.11045 1.09039 1.08392Z"
                  />
                </svg>
              </span>
            </div>
            <ul class="product-menu">
              <li class="product-text">
                <a class="product-link" href="#">Шкафы холодильные</a>
              </li>
              <li class="product-text">
                <a class="product-link" href="#">Столы холодильные</a>
              </li>
              <li class="product-text">
                <a class="product-link" href="#">Камеры холодильные</a>
              </li>
              <li class="product-text">
                <a class="product-link" href="#">Машины холодильные</a>
              </li>
              <li class="product-text">
                <a class="product-link" href="#">Шоковая заморозка</a>
              </li>
              <li class="product-text">
                <a class="product-link" href="#">Лари морозильные</a>
              </li>
            </ul>
          </div>
          <div class="product-list">
            <ul class="product-menu">
              <li class="product-text">
                <a class="product-link" href="#"
                  >Модульные стеллажные<br />
                  системы</a
                >
              </li>
              <li class="product-text" class="text">
                <a class="product-link" href="#">Оборудование для пекарен</a>
              </li>
              <li class="product-text">
                <a class="product-link" href="#">Барные столы и шкафы</a>
              </li>
              <li class="product-text">
                <a class="product-link" href="#">Шкафы для вызревания</a>
              </li>
              <li class="product-text">
                <a class="product-link" href="#">Продуктоматы iCell</a>
              </li>
              <li class="product-text">
                <a class="product-link" href="#">Термоконтейнеры FoodLine</a>
              </li>
              <li class="product-text">
                <a class="product-link" href="#"
                  >Шкафы медицинские
                  <span class="nav-icon"><img alt="" src="img/icons/foot-arrow.svg" /></span
                ></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="product-services">
          <div class="services-item">
            <p class="services-text">
              Подбор холодильного<br />
              стола Polair™
            </p>
          </div>
          <div class="services-item">
            <p class="services-text">
              Подбор холодильной<br />
              машины Polair™
            </p>
          </div>
        </div>
      </div>

      <div class="support-item">
        <div class="support-title">
          <a class="title-link" href="#">Сервис и поддержка</a>
        </div>
        <ul class="support-list">
          <li class="support-text">
            <a class="support-link" href="#">Найти авторизованный сервисный центр</a>
          </li>
          <li class="support-text">
            <a class="support-link" href="#">Скачайте документы и рекламные материалы</a>
          </li>
          <li class="support-text">
            <a class="support-link" href="#">Найти авторизованный сервисный центр</a>
          </li>
          <li class="support-text">
            <a class="support-link" href="#"
              >Сообщить о неисправности
              <span class="nav-icon"><img alt="" src="img/icons/foot-arrow.svg" /></span
            ></a>
          </li>
        </ul>
      </div>

      <div class="options-item">
        <ul class="options-list">
          <li class="option-title">
            <a class="option-link" href="#">Где купить</a>
          </li>
          <li class="option-title">
            <a class="option-link" href="#">Решения</a>
          </li>
          <li class="option-title">
            <a class="option-link" href="#">О компании</a>
          </li>
          <li class="option-title">
            <a class="option-link" href="#">Медиа</a>
          </li>
          <li class="option-title">
            <a class="option-link" href="#">Новости</a>
          </li>
          <li class="option-title">
            <a class="option-link" href="#">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-company">
    <div class="container">
      <div class="company-item">
        <div class="company-block">
          <img alt="" class="company-logo" src="img/logo/logo-white.svg" />
        </div>
        <div class="company-block">
          <div class="company-contacts">
            <div class="phone-info">
              <p class="phone-number">+7 (495) 937-64-07</p>
              <p>многоканальный</p>
            </div>
            <div class="company-social">
              <a class="social-link" href="#"
                ><img class="social-icon" alt="" src="img/icons/social-vk.svg"
              /></a>
              <a class="social-link" href="#"
                ><img class="social-icon" alt="" src="img/icons/social-tg.svg"
              /></a>
              <a class="social-link" href="#"
                ><img class="social-icon" alt="" src="img/icons/social-yt.svg"
              /></a>
              <a class="social-link" href="#"
                ><img class="social-icon" alt="" src="img/icons/social-pnt.svg"
              /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="company-item">
        <div class="company-block">
          <p class="company-name">© АО «Полаир-Недвижимость» 2022</p>
        </div>
        <div class="company-block">
          <p class="company-adress">
            119334, город Москва, Ленинский проспект, дом 37, корпус 1, помещение 2-5, этаж 4
          </p>
        </div>
      </div>

      <div class="company-item">
        <div class="company-block">
          <div class="block-links">
            <a class="company-link">Сделано в <span>CULT</span></a>
            <a class="company-link">Политика конфиденциальности</a>
            <a class="company-link">Карта сайта</a>
          </div>
        </div>
        <div class="company-block">
          <p class="company-rule">При использовании материалов сайта ссылка обязательна.</p>
          <p class="company-rule">
            Данный интернет-сайт носит исключительно информационный характер, и информация,
            размещённая на нём, не является публичной офертой, определяемой положениями ст. 437
            ГК РФ.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
