<section class="help">
  <div class="container">
    <div class="help-wrapper">
      <div class="help-content">
        <p class="subtitle">полезные ссылки</p>
        <h2 class="section-title">Помощь покупателю</h2>
        <p class="text">
          Воспользуйтесь нашими конфигураторами холодильного оборудования, чтобы подобрать продукт
          для вашего бизнеса
        </p>
      </div>

      <div class="help-equipment">
        <div class="equipment-item">
          <div class="img-box">
            <img alt="" src="img/equipment/equipment1.png" class="equip-img" />
          </div>
          <div class="equip-description">
            <h3 class="equip-title">Конфигуратор холодильных столов</h3>
            <p class="equip-text">
              Подбор оборудования, совмещающего функции холодильного шкафа и рабочего стола
            </p>
            <div class="equip-button">
              <a href="#" class="button button--dark">Подобрать стол</a>
            </div>
          </div>
        </div>

        <div class="equipment-item">
          <div class="img-box">
            <img alt="" src="img/equipment/equipment2.png" class="equip-img" />
          </div>
          <div class="equip-description">
            <h3 class="equip-title">Конфигуратор холодильных машин</h3>
            <p class="equip-text">
              Программа по подбору моноблоков или сплит-систем к холодильным камерам Polair
            </p>
            <div class="equip-button">
              <a href="#" class="button button--dark">Подобрать машину</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
