<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="intro">
        <div class="container">
          <div class="intro-content">
            <div class="equipment">
              <img alt="" src="img/equipment/shelf.png" class="intro-equip" />
            </div>
            <div class="intro-description">
              <div class="icons">
                <img alt="" src="img/intro/intro1.svg" class="intro-icon" />
                <img alt="" src="img/intro/intro2.svg" class="intro-icon" />
                <img alt="" src="img/intro/intro3.svg" class="intro-icon" />
                <img alt="" src="img/intro/intro4.svg" class="intro-icon" />
              </div>
              <h2 class="intro-title">
                Специальные цены на популярные модели фармацевтических шкафов
              </h2>
              <p class="intro-text">Снижаем цены ради высоких возможностей</p>
              <a href="#" class="button">Подробнее</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="intro">
        <div class="container">
          <div class="intro-content">
            <div class="equipment">
              <img alt="" src="img/equipment/shelf.png" class="intro-equip" />
            </div>
            <div class="intro-description">
              <div class="icons">
                <img alt="" src="img/intro/intro1.svg" class="intro-icon" />
                <img alt="" src="img/intro/intro2.svg" class="intro-icon" />
                <img alt="" src="img/intro/intro3.svg" class="intro-icon" />
                <img alt="" src="img/intro/intro4.svg" class="intro-icon" />
              </div>
              <h2 class="intro-title">
                Специальные цены на популярные модели фармацевтических шкафов
              </h2>
              <p class="intro-text">Снижаем цены ради высоких возможностей</p>
              <a href="#" class="button">Подробнее</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="intro">
        <div class="container">
          <div class="intro-content">
            <div class="equipment">
              <img alt="" src="img/equipment/shelf.png" class="intro-equip" />
            </div>
            <div class="intro-description">
              <div class="icons">
                <img alt="" src="img/intro/intro1.svg" class="intro-icon" />
                <img alt="" src="img/intro/intro2.svg" class="intro-icon" />
                <img alt="" src="img/intro/intro3.svg" class="intro-icon" />
                <img alt="" src="img/intro/intro4.svg" class="intro-icon" />
              </div>
              <h2 class="intro-title">
                Специальные цены на популярные модели фармацевтических шкафов
              </h2>
              <p class="intro-text">Снижаем цены ради высоких возможностей</p>
              <a href="#" class="button">Подробнее</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="intro">
        <div class="container">
          <div class="intro-content">
            <div class="equipment">
              <img alt="" src="img/equipment/shelf.png" class="intro-equip" />
            </div>
            <div class="intro-description">
              <div class="icons">
                <img alt="" src="img/intro/intro1.svg" class="intro-icon" />
                <img alt="" src="img/intro/intro2.svg" class="intro-icon" />
                <img alt="" src="img/intro/intro3.svg" class="intro-icon" />
                <img alt="" src="img/intro/intro4.svg" class="intro-icon" />
              </div>
              <h2 class="intro-title">
                Специальные цены на популярные модели фармацевтических шкафов
              </h2>
              <p class="intro-text">Снижаем цены ради высоких возможностей</p>
              <a href="#" class="button">Подробнее</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="intro">
        <div class="container">
          <div class="intro-content">
            <div class="equipment">
              <img alt="" src="img/equipment/shelf.png" class="intro-equip" />
            </div>
            <div class="intro-description">
              <div class="icons">
                <img alt="" src="img/intro/intro1.svg" class="intro-icon" />
                <img alt="" src="img/intro/intro2.svg" class="intro-icon" />
                <img alt="" src="img/intro/intro3.svg" class="intro-icon" />
                <img alt="" src="img/intro/intro4.svg" class="intro-icon" />
              </div>
              <h2 class="intro-title">
                Специальные цены на популярные модели фармацевтических шкафов
              </h2>
              <p class="intro-text">Снижаем цены ради высоких возможностей</p>
              <a href="#" class="button">Подробнее</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination swiper-pagination--intro"></div>
</div>
