$blue: #003154;
$blue-medium: #174463;

$white: #ffffff;

$black-dark: #000103;
$black-medium: #1e1e1e;
$black-light: #404040;

$gray-20pc: #eaeaea;
$gray-30pc: #e1e1e1;
$gray-light: #d0d0d0;
$gray-medium: #8f9090;
$gray-dark: #888888;

$gray-background: #f7f7f8;
$blue-background: #f2f6fb;

$width-container: 1200px;
